[user]
	name = Russell Smith
	email = russellwsmith54@gmail.com
[core]
	editor = emacs
[push]
	default = simple
[alias]
	st = status
  	ci = commit
  	br = branch
  	co = checkout
[credential]
	helper = cache --timeout=10000
